@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

li, a {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

html {
    background: #f2f2f2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 26%;
    background: #ffffff;
    /* choose either borders or drop shadows*/
    /*
    border-color: #bababa;
    border-width: 1px;
    border-bottom-style: solid;
    */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    /*
    font-family: "Press Start 2P";
    text-align: center;
    color: white;
    font-size: 32px;
     */
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    /*color: #542c85;*/
    color: #663399;
}

.footer {
    font-family: "Montserrat";
    padding: 1px;
    text-align: center;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
}

.paragraph {
    font-family: "Montserrat";
    font-size: 16px;
    flex: 1;
    padding: 00px 400px 40px;
    border-color: #bababa;
    border-width: 1px;
    border-bottom-style: solid;
}

.title {
    font-family: "Montserrat";
    font-weight: 500;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    color: #000000;
}

